<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fremtidig prosess - konkurs (utlev av kontoopplysninger og saldo)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fremtidig prosess - konkurs (utlev av kontoopplysninger og saldo)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d21b0e9f-8f0c-4da7-a856-61f60f990014.png" alt="Fremtidig prosess - konkurs (utlev av kontoopplysninger og saldo)" usemap="#d21b0e9f-8f0c-4da7-a856-61f60f990014map"/>
			   <map name="d21b0e9f-8f0c-4da7-a856-61f60f990014map">
				  		<area shape="rect" coords="1028,1026,1390,1150" href="../elements/62e08200-07c1-45f6-a8ad-6cbaa3514d63.html"  target="element">
				  		<area shape="rect" coords="356,884,718,994" href="../elements/656752ee-a3a5-4c76-973d-ce5a979f4578.html"  target="element">
				  		<area shape="rect" coords="1028,848,1390,958" href="../elements/339bcff3-8528-4693-9fec-8585d71e56b6.html"  target="element">
				  		<area shape="rect" coords="20,350,260,460" href="../elements/29ea8d43-89dc-4b6a-b9c9-855a3074f569.html"  target="element">
				  				<area shape="rect" coords="1388,92,1628,202" href="../elements/0f041954-2863-49d5-a471-5f25dde6335c.html"  target="element">
				  				<area shape="rect" coords="1100,92,1340,202" href="../elements/8e684058-57c6-4298-a4ab-3fe1176837d2.html"  target="element">
				  				<area shape="rect" coords="644,92,1004,202" href="../elements/3ee850ce-21cb-40ba-9309-9cfb9df533f4.html"  target="element">

				  		<area shape="rect" coords="308,20,1654,262" href="../elements/7f726ac6-ca9c-47c2-bf57-de2a127ca35f.html"  target="element">
				          <area shape="rect" coords="1436,812,1654,994" href="../objects/0310e4a4-64dc-4425-8262-0996c915eba1.html" target="element" >
				  				<area shape="rect" coords="1028,620,1388,730" href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html"  target="element">

				  		<area shape="rect" coords="308,548,1654,790" href="../elements/16553d34-be82-4c14-ba15-3a83dfae592b.html"  target="element">
				  				<area shape="rect" coords="356,356,670,466" href="../elements/1ec3de9e-35d9-4302-ab92-e5ba74844eac.html"  target="element">

				  		<area shape="rect" coords="308,284,1654,526" href="../elements/e57eacf2-960e-47b8-9cb8-8cf2561f575a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e57eacf2-960e-47b8-9cb8-8cf2561f575a.html" target="element"> BRREG </a> </td>
											    <td> <a href="../elements/e57eacf2-960e-47b8-9cb8-8cf2561f575a.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1ec3de9e-35d9-4302-ab92-e5ba74844eac.html" target="element"> Registrering av konkurs </a> </td>
													    <td> <a href="../elements/1ec3de9e-35d9-4302-ab92-e5ba74844eac.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/16553d34-be82-4c14-ba15-3a83dfae592b.html" target="element"> Bank A </a> </td>
											    <td> <a href="../elements/16553d34-be82-4c14-ba15-3a83dfae592b.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html" target="element"> Utlevering av konto- og transaksjonsopplysninger </a> </td>
													    <td> <a href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/0310e4a4-64dc-4425-8262-0996c915eba1.html" target="element">  </a> </td>
									           <td> <a href="../objects/0310e4a4-64dc-4425-8262-0996c915eba1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/7f726ac6-ca9c-47c2-bf57-de2a127ca35f.html" target="element"> Bobestyrer </a> </td>
											    <td> <a href="../elements/7f726ac6-ca9c-47c2-bf57-de2a127ca35f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3ee850ce-21cb-40ba-9309-9cfb9df533f4.html" target="element"> Samle opplysninger om aktiva </a> </td>
													    <td> <a href="../elements/3ee850ce-21cb-40ba-9309-9cfb9df533f4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8e684058-57c6-4298-a4ab-3fe1176837d2.html" target="element"> Komplette data </a> </td>
													    <td> <a href="../elements/8e684058-57c6-4298-a4ab-3fe1176837d2.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0f041954-2863-49d5-a471-5f25dde6335c.html" target="element"> Gj&#248;re opp konkursbo </a> </td>
													    <td> <a href="../elements/0f041954-2863-49d5-a471-5f25dde6335c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/29ea8d43-89dc-4b6a-b9c9-855a3074f569.html" target="element"> Konkurs </a> </td>
											    <td> <a href="../elements/29ea8d43-89dc-4b6a-b9c9-855a3074f569.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/339bcff3-8528-4693-9fec-8585d71e56b6.html" target="element"> Bank A fagsystem </a> </td>
											    <td> <a href="../elements/339bcff3-8528-4693-9fec-8585d71e56b6.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/656752ee-a3a5-4c76-973d-ce5a979f4578.html" target="element"> Samhandlingstjeneste - konkurs </a> </td>
											    <td> <a href="../elements/656752ee-a3a5-4c76-973d-ce5a979f4578.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/62e08200-07c1-45f6-a8ad-6cbaa3514d63.html" target="element"> Konto- og transaksjonsopplysninger - direkte tilgang </a> </td>
											    <td> <a href="../elements/62e08200-07c1-45f6-a8ad-6cbaa3514d63.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/741c4ca9-1007-4927-a1c8-9d3a7e2c36bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/741c4ca9-1007-4927-a1c8-9d3a7e2c36bb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/e57eacf2-960e-47b8-9cb8-8cf2561f575a.html" target="element"> BRREG </a> </td>
																		<td> <a href="../elements/1ec3de9e-35d9-4302-ab92-e5ba74844eac.html" target="element"> Registrering av konkurs </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/5110c70a-632a-4672-9f87-d3b28243a6c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/5110c70a-632a-4672-9f87-d3b28243a6c8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/16553d34-be82-4c14-ba15-3a83dfae592b.html" target="element"> Bank A </a> </td>
																		<td> <a href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html" target="element"> Utlevering av konto- og transaksjonsopplysninger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/762d1fc7-28cc-4f1f-81eb-d66b821b2d0a.html" target="element">  </a> </td>
																				<td> <a href="../elements/762d1fc7-28cc-4f1f-81eb-d66b821b2d0a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html" target="element"> Utlevering av konto- og transaksjonsopplysninger </a> </td>
																				<td> <a href="../elements/8e684058-57c6-4298-a4ab-3fe1176837d2.html" target="element"> Komplette data </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/c4cebd48-2726-4e62-aae0-5501455146dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4cebd48-2726-4e62-aae0-5501455146dc.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/7f726ac6-ca9c-47c2-bf57-de2a127ca35f.html" target="element"> Bobestyrer </a> </td>
																		<td> <a href="../elements/3ee850ce-21cb-40ba-9309-9cfb9df533f4.html" target="element"> Samle opplysninger om aktiva </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d74aa7d2-506c-4603-bbd1-d6ecb1ca2eeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/d74aa7d2-506c-4603-bbd1-d6ecb1ca2eeb.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/7f726ac6-ca9c-47c2-bf57-de2a127ca35f.html" target="element"> Bobestyrer </a> </td>
																		<td> <a href="../elements/8e684058-57c6-4298-a4ab-3fe1176837d2.html" target="element"> Komplette data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d485d2bd-c6a4-4f3d-9200-1ae0cf0eaef5.html" target="element">  </a> </td>
																		<td> <a href="../elements/d485d2bd-c6a4-4f3d-9200-1ae0cf0eaef5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/7f726ac6-ca9c-47c2-bf57-de2a127ca35f.html" target="element"> Bobestyrer </a> </td>
																		<td> <a href="../elements/0f041954-2863-49d5-a471-5f25dde6335c.html" target="element"> Gj&#248;re opp konkursbo </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/06843f22-17d1-41f2-a2f1-58d26f11c934.html" target="element">  </a> </td>
																				<td> <a href="../elements/06843f22-17d1-41f2-a2f1-58d26f11c934.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/3ee850ce-21cb-40ba-9309-9cfb9df533f4.html" target="element"> Samle opplysninger om aktiva </a> </td>
																				<td> <a href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html" target="element"> Utlevering av konto- og transaksjonsopplysninger </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/72f245b4-3717-47ae-a834-09b724817f43.html" target="element">  </a> </td>
																				<td> <a href="../elements/72f245b4-3717-47ae-a834-09b724817f43.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/8e684058-57c6-4298-a4ab-3fe1176837d2.html" target="element"> Komplette data </a> </td>
																				<td> <a href="../elements/0f041954-2863-49d5-a471-5f25dde6335c.html" target="element"> Gj&#248;re opp konkursbo </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/cd488561-9022-4755-a9f0-4bc2be29b440.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd488561-9022-4755-a9f0-4bc2be29b440.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/29ea8d43-89dc-4b6a-b9c9-855a3074f569.html" target="element"> Konkurs </a> </td>
																		<td> <a href="../elements/1ec3de9e-35d9-4302-ab92-e5ba74844eac.html" target="element"> Registrering av konkurs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/30678255-66d4-4846-a301-04fb1594ab93.html" target="element">  </a> </td>
																		<td> <a href="../elements/30678255-66d4-4846-a301-04fb1594ab93.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/339bcff3-8528-4693-9fec-8585d71e56b6.html" target="element"> Bank A fagsystem </a> </td>
																		<td> <a href="../elements/b55745fb-fa93-4458-982e-b22c4d4e41d5.html" target="element"> Utlevering av konto- og transaksjonsopplysninger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b43c71a1-a398-46f8-ab03-ff9e7409a00a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b43c71a1-a398-46f8-ab03-ff9e7409a00a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/339bcff3-8528-4693-9fec-8585d71e56b6.html" target="element"> Bank A fagsystem </a> </td>
																		<td> <a href="../elements/62e08200-07c1-45f6-a8ad-6cbaa3514d63.html" target="element"> Konto- og transaksjonsopplysninger - direkte tilgang </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3d67e542-9edc-4afe-bb47-caba6f940342.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d67e542-9edc-4afe-bb47-caba6f940342.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/656752ee-a3a5-4c76-973d-ce5a979f4578.html" target="element"> Samhandlingstjeneste - konkurs </a> </td>
																		<td> <a href="../elements/1ec3de9e-35d9-4302-ab92-e5ba74844eac.html" target="element"> Registrering av konkurs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/953b2df9-4a54-4d77-824a-0de6b3e2113d.html" target="element">  </a> </td>
																		<td> <a href="../elements/953b2df9-4a54-4d77-824a-0de6b3e2113d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/656752ee-a3a5-4c76-973d-ce5a979f4578.html" target="element"> Samhandlingstjeneste - konkurs </a> </td>
																		<td> <a href="../elements/3ee850ce-21cb-40ba-9309-9cfb9df533f4.html" target="element"> Samle opplysninger om aktiva </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/62e081ff-8a58-4e96-9739-2282fefba96e.html" target="element"> eOppslag </a> </td>
																		<td> <a href="../elements/62e081ff-8a58-4e96-9739-2282fefba96e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/656752ee-a3a5-4c76-973d-ce5a979f4578.html" target="element"> Samhandlingstjeneste - konkurs </a> </td>
																		<td> <a href="../elements/62e08200-07c1-45f6-a8ad-6cbaa3514d63.html" target="element"> Konto- og transaksjonsopplysninger - direkte tilgang </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>